.Footer {
  padding: 1rem;
  max-width: 1560px;
  margin: 0 auto;
  background-color: var(--midnightGreen);
}

.Logo {
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: var(--almostWhite);
}

.About {
  color: var(--almostWhite);
  margin-bottom: 1rem;
}

.StoresImage {
  width: 9rem;
  margin-bottom: 1rem;
}

.Navigation li {
  font-weight: 100;
  font-size: 0.9rem;
  padding: 0.125rem 0rem;
}

.Navigation li a {
  color: var(--gainsboro);
}

@media (min-width: 768px) {
  .Footer {
    padding: 1.5rem 2rem;
  }

  .Content {
    display: flex;
  }

  .Details {
    width: 50%;
    margin-right: 3rem;
  }
}

@media (min-width: 1024px) {
  .Footer {
    padding: 2rem 3rem;
  }

  .Details {
    width: 60%;
    margin-right: 3rem;
  }
}

@media (min-width: 1280px) {
  .Details {
    width: 40%;
    margin-right: 3rem;
  }
}
