.Products {
  padding: 1rem;
  max-width: 1560px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .Products {
    padding: 1.5rem 2rem;
  }
}

@media (min-width: 1024px) {
  .Products {
    padding: 2rem 3rem;
  }
}
