.ProductPage {
  padding: 1rem;
}

.CoverImage {
  margin-bottom: 1rem;
}

.CoverImage img {
  border-radius: 0.25rem;
}

.Images {
  margin-bottom: 1.5rem;
}

.ImageIcons {
  display: flex;
  align-items: center;
}

.ImageIcon {
  width: 5rem;
  padding: 0.25rem;
}

.ImageIcon img {
  border-radius: 0.25rem;
}

.ImageIcon.Active {
  border-radius: 0.25rem;
  border: 1px solid var(--gainsboro);
}

.AboutProduct {
  margin-bottom: 1rem;
}

.AboutProduct h1 {
  margin-bottom: 1rem;
}

.AboutProduct p:nth-child(2) {
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: var(--metallicSeaweed);
}

.Controller {
  display: flex;
  align-items: center;
  margin-bottom: 1.25rem;
}

.Controller select {
  width: 50%;
  outline: none;
  padding: 0.5rem;
  margin-right: 1rem;
  border-radius: 0.25rem;
  color: var(--darkCharcoal);
  -webkit-appearance: initial;
  border: 1.5px solid var(--gainsboro);
}

.Controller svg {
  width: 50%;
  cursor: pointer;
  height: 2.25rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  transition: all 200ms ease-out;
  border: 1px solid var(--gainsboro);
}

.Controller svg.Active {
  width: 20%;
}

.Quantity {
  padding: 0rem 0.75rem;
}

.AddToCart {
  width: 100%;
  border: none;
  padding: 0.75rem;
  font-weight: 600;
  margin-bottom: 0.25rem;
  border-radius: 0.25rem;
  transition: all 200ms ease-in-out;
  pointer-events: none;
  color: var(--almostWhite);
  background-color: var(--gainsboro);
}

.AddToCart.Active {
  cursor: pointer;
  pointer-events: all;
  color: var(--darkCharcoal);
  background-color: var(--mustard);
}

@media (min-width: 768px) {
  .ProductPage {
    padding: 1.5rem 2rem;
  }

  .Controller,
  .AddToCart {
    width: 60%;
    max-width: 20rem;
  }
}

@media (min-width: 1024px) {
  .ProductPage {
    display: flex;
    padding: 2rem 3rem;
    justify-content: space-between;
  }

  .Images {
    width: 50%;
    margin-bottom: 0rem;
    margin-right: 2.5rem;
  }

  .Content {
    width: 50%;
  }

  .AboutProduct {
    margin-bottom: 2rem;
  }

  .AboutProduct p:nth-child(2) {
    margin-bottom: 1rem;
  }
}
