html,
body {
  margin: 0 auto;
  font-size: 16px;
  position: relative;
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  letter-spacing: 0.5px;
  box-sizing: border-box;
}

:root {
  --metallicSeaweed: #177e89;
  --midnightGreen: #084c61;
  --cgRed: #db3a34;
  --mustard: #ffc857;
  --darkCharcoal: #323031;
  --almostWhite: #f6f6f8;
  --lightSlateGrey: #73879c;
  --gainsboro: #dddddd;
}

p,
a {
  font-weight: 100;
  line-height: 1.6em;
  color: var(--darkCharcoal);
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

input,
select {
  border: none;
  border-radius: 0px;
}

@media (min-width: 768px) {
}

@media (min-width: 1024px) {
}

@media (min-width: 1280px) {
}
